In [ ]:
import pandas as pd

df = pd.read_csv('student.csv',index_col=0)
df

In [5]:
df = pd.read_excel('student.xlsx',index_col=0)
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

- 透過欄選取
- 透過列選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [9]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['張韋成']
df.loc[['張韋成','蒙淑惠']]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [11]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [12]:
df.loc['張韋成':'蒙淑惠']

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57

In [13]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70

In [18]:
df.head()
df.loc['柯韋成','地理'] = 61
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

In [22]:
df[:10]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76
余宗儒  50  51  99  86  91
陳家年  50  67  53  77  65
唐雪豪  87  53  96  82  91
金宜芳  57  55  86  91  71
吳振瑋  93  61  96  66  64

In [23]:
df[-10:]

     國文   英文  數學   地理   探討
胡姿婷  59   54  68   67   71
王梅劭  83   86  62   82   91
林義皓  74   86  67   85   74
陳信念  91  100  71   88   50
張婕妤  87   72  58   91   84
林建勳  59   64  62   72   76
賴昌韻  89   82  99   60   70
劉耿琦  78   75  76   87   72
陳建香  96   76  68   78   65
林怡偉  90   70  61  100  100

In [27]:
df['國文'] + df['英文'] + df['地理'] + df['數學'] + df['探討']

張韋成    356
龔姵君    390
柯韋成    379
蒙淑惠    329
孫火清    404
余宗儒    377
陳家年    312
唐雪豪    409
金宜芳    360
吳振瑋    380
張家秀    388
林麗萍    411
臧怡君    352
白世宏    353
陳樂紫    386
彭虹屏    349
蔡士賢    380
陳俊憲    393
李美洋    362
張伊映    328
陳逸凡    385
姜琬婷    375
王坤安    362
鄭佳玲    395
李立偉    384
劉佳佩    340
賴又琦    391
許芳如    314
林珈發    427
王明昇    411
李彥伸    378
謝佳穎    348
林希啟    382
呂傑宣    384
張牧聿    383
楊健麟    362
張軒宸    375
林康亮    338
邱亭君    341
余丞苓    368
胡姿婷    319
王梅劭    404
林義皓    386
陳信念    400
張婕妤    392
林建勳    333
賴昌韻    400
劉耿琦    388
陳建香    383
林怡偉    421
dtype: int64

In [33]:
stu_sum = df.sum(axis=1)
stu_mean = stu_sum / 5.0

In [35]:
df['總分'] = stu_sum
df['平均'] = stu_mean

In [36]:
df

     國文   英文  數學   地理   探討   總分    平均
張韋成  72   85  82   52   65  356  71.2
龔姵君  95   57  84   58   96  390  78.0
柯韋成  76   82  90   61   70  379  75.8
蒙淑惠  95   52  61   64   57  329  65.8
孫火清  98   64  70   96   76  404  80.8
余宗儒  50   51  99   86   91  377  75.4
陳家年  50   67  53   77   65  312  62.4
唐雪豪  87   53  96   82   91  409  81.8
金宜芳  57   55  86   91   71  360  72.0
吳振瑋  93   61  96   66   64  380  76.0
張家秀  95  100  88   50   55  388  77.6
林麗萍  85   70  99  100   57  411  82.2
臧怡君  73   52  73   78   76  352  70.4
白世宏  53   76  68   85   71  353  70.6
陳樂紫  90   58  91   61   86  386  77.2
彭虹屏  51   82  70   55   91  349  69.8
蔡士賢  75   88  50   91   76  380  76.0
陳俊憲  92   51  80   88   82  393  78.6
李美洋  61   86  79   86   50  362  72.4
張伊映  50   62  97   50   69  328  65.6
陳逸凡  94   78  64   63   86  385  77.0
姜琬婷  85   57  69   97   67  375  75.0
王坤安  57   69  80   86   70  362  72.4
鄭佳玲  69   96  69   94   67  395  79.0
李立偉  77   80  56   96   75  384  76.8
劉佳佩  56   86  56   67   75  340  68.0
賴又琦  77   64  68   86   96  391  78.2
許芳如  85   60  61   54   54  314  62.8
林珈發  98   97  74   94   64  427  85.4
王明昇  94   65  72   98   82  411  82.2
李彥伸  70   79  81   73   75  378  75.6
謝佳穎  58   61  72   62   95  348  69.6
林希啟  85   64  91   50   92  382  76.4
呂傑宣  67   97  97   68   55  384  76.8
張牧聿  73   93  96   67   54  383  76.6
楊健麟  65   84  85   51   77  362  72.4
張軒宸  94   68  69   60   84  375  75.0
林康亮  57   63  73   78   67  338  67.6
邱亭君  62   57  78   81   63  341  68.2
余丞苓  72   71  54   98   73  368  73.6
胡姿婷  59   54  68   67   71  319  63.8
王梅劭  83   86  62   82   91  404  80.8
林義皓  74   86  67   85   74  386  77.2
陳信念  91  100  71   88   50  400  80.0
張婕妤  87   72  58   91   84  392  78.4
林建勳  59   64  62   72   76  333  66.6
賴昌韻  89   82  99   60   70  400  80.0
劉耿琦  78   75  76   87   72  388  77.6
陳建香  96   76  68   78   65  383  76.6
林怡偉  90   70  61  100  100  421  84.2